@import "tailwindcss";
@custom-variant hover (&:hover);

@theme {
  --animate-slide-in: slide-in 0.3s ease-out;

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
